In [2]:
 # Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# Nasa Mars News

In [3]:
# URL of page to be scraped for latest news
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text
new_p = soup.find('div', class_='article_teaser_body').text

print(f'Latest article: {news_title}')
print(f'Article overview: {new_p}')

Latest article: Robotic Toolkit Added to NASA's Mars 2020 Rover
Article overview: The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

# JPL Mars Space Image

In [68]:
# URL of page to be scraped for featured image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [69]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [70]:
a = soup.find("footer").find("a")
if a.has_attr('data-fancybox-href'):
    relative_url = a['data-fancybox-href']
    featured_image_url = "https://www.jpl.nasa.gov" + relative_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17900_ip.jpg'

# Mars Weather

In [81]:
# URL of page to be scraped for Mars weather
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [82]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [86]:
results = soup.find_all('p', attrs={'class':'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text'})
results[1]

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 253 (2019-08-13) low -100.0ºC (-148.1ºF) high -25.5ºC (-13.9ºF)
winds from the SSE at 4.6 m/s (10.3 mph) gusting to 16.4 m/s (36.6 mph)
pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/OnwaHAaYRH">pic.twitter.com/OnwaHAaYRH</a></p>

In [87]:
mars_weather = results[1].contents[0]
mars_weather

'InSight sol 253 (2019-08-13) low -100.0ºC (-148.1ºF) high -25.5ºC (-13.9ºF)\nwinds from the SSE at 4.6 m/s (10.3 mph) gusting to 16.4 m/s (36.6 mph)\npressure at 7.60 hPa'

# Mars Facts

In [132]:
# URL of page to be scraped for Mars facts
url = "https://space-facts.com/mars/"

In [137]:
table = pd.read_html(url)
df = table[1]
df.columns = ['Dimensions', 'Value']
df.head()

             Dimensions                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [138]:
df = df.iloc[1:]
df.set_index('Dimensions', inplace=True)
df.head()

                                         Value
Dimensions
Polar Diameter:                       6,752 km
Mass:            6.39 × 10^23 kg (0.11 Earths)
Moons:                     2 (Phobos & Deimos)
Orbit Distance:       227,943,824 km (1.38 AU)
Orbit Period:             687 days (1.9 years)

In [139]:
#Convert data to html string
mars_table = df.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Dimensions</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [140]:
#Strip unwanted newlines to clean up the table.
mars_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Dimensions</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [142]:
#save table to file
df.to_html('table.html')

# Mars Hemispheres

In [40]:
# URL of page to be to find Mars Hemispheres images
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [41]:
results = soup.find_all('div', attrs={'class':'description'})

In [42]:
# Loop through web page and find the Hemispheres titles
hemispheres = []
for result in results:
    hem = result.find('h3').text
    hemispheres.append(hem)
print(*hemispheres, sep = "\n")

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [43]:
# Loop to find the page that containes hem full sized images
link_hem = []
for result in results:
    img = result.find('a')['href']
    
    link_hem.append('https://astrogeology.usgs.gov' + img)
    
print(*link_hem, sep = "\n")

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [49]:
# use browser.visit in loop to go through each hem page to find image links
hem_img_url = []
for link in link_hem:
    browser.visit(link)
    soup = BeautifulSoup(browser.html,"html.parser")
    li = soup.find('li')
    link = li.find('a')
    href = link['href']
    hem_img_url.append(href)
print(*hem_img_url, sep = "\n")

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [57]:
hemisphere_image_urls = []
for i in range(len(hem_img_url)):
    hemisphere_image_urls.append({
        "title": hemispheres[i],
        "url": hem_img_url[i]
    })

In [67]:
dict(zip(hemispheres,hem_img_url))

{'Cerberus Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'Schiaparelli Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'Syrtis Major Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'Valles Marineris Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}

In [58]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]